html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/* Fonts */

.primary {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 96px;
}

h2 {
    margin-top: var(--padding-size);
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: var(--H2-text);
    display: flex;
    justify-content: center;
}

.tertiary {
    font-family: "Economica", sans-serif;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
}

.dish-info {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: var(--dish-price-text);
        display: flex;
    justify-content: space-between;
    width: 180%;
}

.normal {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
}

/* END Fonts */

:root {
    --default-text: #000000;
    --H2-text: #9f0908;
    --dish-price-text: #675E56;
    --footer: #0A141E;
    --padding-size: 120px;
}

/*head*/

nav {
    height: 112px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu {
    color: white;
    text-decoration: none;
    margin-left: 50px;
    margin-bottom: 0px;
}

.menu:hover {
    filter: drop-shadow(5px 6px 2px var(--dish-price-text));
}

.flower {
    height: 64px;
    width: 64px;
}

.tel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    padding: 8px;
    background-color: var(--H2-text);
}

.tel:hover {
    background-color: #9f0808ab;
}


.tel-img {
    height: 30px;
    width: 30px;
    padding-right: 10px;
}

.tel-menu {
    color: white;
    text-decoration: none;
}


.head {
    /*img*/
    background-image: url("./assets/img/1_hero/JPG/hero_bg.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    /*END img*/
    color: white;

}

.headline-sekura {
    margin-top: 120px;
    margin-bottom: 0px;
}


.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* END head */

/*order*/
.order {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 64px;
    margin-bottom: var(--padding-size);
}

.food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.food-img {
    width: 128px;
    height: 128px;
    margin-bottom: 16px;
}

.food-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    /*FONT*/
    font-family: "Economica", sans-serif;
    font-size: 56px;
    font-weight: bold;

}

/* END order */

/* menu */
.menu-sakura {
    background-image: url(./assets/img/3_section_our_menu/JPG/section_our_menu_bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.sakura-box {
    margin-bottom: var(--padding-size);
    display: flex;
    flex-direction: column;
}

.special-margin {
    margin-top: 64px !important;
}

.box {
    display: flex;
    margin-top: 56px;
    width: 80vw;
}

.box-2 {
    display: flex;
    margin-top: 56px;
    width: 80vw;
    justify-content: flex-end;
}

.text {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-left: 56px;
}

.text-2 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-right: 168px;
}



.menu-img {
    height: 352px;
    width: 352px;
}

th {
    margin-bottom: 8px !important;
}

tr {
    margin-bottom: 8px;
}

/* END menu */

/* GOOGLE MAPS */
.adress {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    margin-top: 8px;
    margin-bottom: 50px;
    margin-left: -12px;
    font-family: "Raleway", sans-serif;
}

.icon {
    height: 30px;
    width: 30px;
    padding-right: 8px;
}

iframe {
    border: 0;
    width: 100%;
    height: 450px;
}

/* END GOOGLE MAPS */

/* footer */
footer {
    background-color: var(--footer);
    color: white;
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0px;
}

.footer-sakura {
    margin-left: -150px;
    height: 44px;
}

.footer-icon {
    height: 40px;
    width: 40px;
    padding: 8px;
}

.footer-div {
    margin-right: -200px;
}

/* END footer */