html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/* Fonts */

.primary {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 96px;
}

h2 {
    margin-top: var(--padding-size);
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: var(--H2-text);
    display: flex;
    justify-content: center;
    text-align: center;
}

.tertiary {
    font-family: "Economica", sans-serif;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
}

.dish-info {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: var(--dish-price-text);
    display: flex;
    flex-direction: column;
    width: 400px;
}

.normal {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
}

/* END Fonts */

:root {
    --default-text: #000000;
    --H2-text: #9f0908;
    --dish-price-text: #675E56;
    --footer: #0A141E;
    --padding-size: 120px;
}

/*head*/

nav {
    height: 112px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu {
    color: white;
    text-decoration: none;
    margin-left: 50px;
    margin-bottom: 0px;
}

.menu:hover {
    filter: drop-shadow(5px 6px 2px var(--dish-price-text));
}

.flower {
    height: 64px;
    width: 64px;
}

.tel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    padding: 8px;
    background-color: var(--H2-text);
}

.tel:hover {
    background-color: #9f0808ab;
}


.tel-img {
    height: 30px;
    width: 30px;
    padding-right: 10px;
}

.tel-menu {
    color: white;
    text-decoration: none;
}


.head {
    /*img*/
    background-image: url("./assets/img/1_hero/JPG/hero_bg.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    /*END img*/
    color: white;

}

.headline-sakura {
    margin-top: 12vh;
    margin-bottom: 0px;
}


.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* END head */

/*order*/
.order {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 64px;
    margin-bottom: var(--padding-size);
}

.food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.food-img {
    width: 128px;
    height: 128px;
    margin-bottom: 16px;
}

.food-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    /*FONT*/
    font-family: "Economica", sans-serif;
    font-size: 56px;
    font-weight: bold;

}

/* END order */

/* menu */
.menu-sakura {
    background-image: url(./assets/img/3_section_our_menu/JPG/section_our_menu_bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.sakura-box {
    margin-bottom: var(--padding-size);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.special-margin {
    margin-top: 64px !important;
}

.box {
    display: flex;
    margin-top: 56px;
    width: 80vw;
}

.box-2 {
    display: flex;
    margin-top: 56px;
    width: 80vw;
    justify-content: flex-end;
}

.text {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-left: 2%;
}

.text-2 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-right: 16px;
}



.menu-img {
    height: 352px;
    width: 352px;
}

th {
    margin-bottom: 8px !important;
}

tr {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

/* END menu */

/* GOOGLE MAPS */
.adress {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 48px;
    font-family: "Raleway", sans-serif;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.icon {
    height: 30px;
    width: 30px;
    padding-right: 8px;
}

iframe {
    border: 0;
    width: 100%;
    height: 450px;
}

/* END GOOGLE MAPS */

/* footer */
footer {
    background-color: var(--footer);
    color: white;
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-left: 10%;
    padding-right: 10%;
}

.footer-sakura {
    height: 44px;
}

.footer-icon {
    height: 40px;
    width: 40px;
    padding: 8px;
}

/* END footer */

@media(max-width: 990px) {
    .tertiary {
        font-size: 32px;
    }

    .dish-info {
        font-size: 24px;
        width: 300px;
    }
}

/* Tablet */
@media(max-width: 800px) {
    .query {
        display: none;
    }

    nav {
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
    }

    .headline-sekura {
        margin-top: 8vh;
    }

    :root {
        --padding-size: 96px;
    }

    .options-box {
        margin-top: 48px;
        margin-bottom: var(--padding-size);
    }


    .food-img {
        margin-bottom: 8px;
    }

    .sakura-box {
        width: 97%;
    }

    .special-margin {
        margin-top: 48px !important;
    }

    .box {
        margin-top: 32px;
    }

    .box-2 {
        margin-top: 32px;
        justify-content: center;
        width: 100%;
    }

    .dish-info {
        width: 200px;
    }

    .text {
        margin-left: 24px;
    }

    footer {
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media(max-width: 768px){
    .normal {
    font-size: 20px;
}

.primary {
    font-size: 72px;
}

h2 {
    font-size: 64px;
}

.food-text {
    font-size: 32px;
}
}

@media(max-width: 630px) {
    .box {
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: center;
    }

    .box-2 {
        flex-direction: column-reverse;
        gap: 16px;
        justify-content: center;
        align-items: center;
    }

     .sakura-box{
        align-items: center;
    }

    .text {
        margin-left: 0px;
    }

    .text-2 {
        margin-right: 0px;
    }

    .dish-info{
        width: 80vw;
    }
}

@media(max-width: 520px) {

    footer {
        height: 86px;
    }

    .footer-sakura {
        display: none;
    }

    .flower-2 {
        height: 40px;
        width: 40px;
    }

    .footer-icon {
        width: 32px;
        height: 32px;
        padding: 2px;
    }
}

@media(min-width: 520px) {
    .flower-2 {
        display: none;
    }
}

@media(max-width: 440px) {
 .tel {
        padding: 2px;
    }
   .normal {
        font-size: 16px;
    }

    .primary {
        font-size: 44px;
    }

    h2 {
        font-size: 40px;
    }

    .options-box {
        display: flex;
        flex-direction: column;
    }

    .food-img {
        width: 112px;
        margin-bottom: 32px;
    }

    .food-text {
        font-size: 32px;
    }

    .food-margin {
        margin-bottom: 32px;
    }

}

/* Handy */

@media(max-width: 375px) {
    :root {
        --padding-size: 72px;
    }

    nav {
        height: 64px;
    }

    .headline-sekura {
        margin-top: 15vh;
    }

    .flower {
        height: 40px;
        width: 40px;
    }

    .primary {
        font-size: 44px;
    }

    .special-margin {
        margin-top: 40px !important;
    }

    .adress {
        margin-bottom: 40px;
    }

    .menu-img {
        display: flex;
        align-items: center;
        width: 95vw;
        height: 95vw;
    }
}